body {

}
.product-card {
    width: 120px;
    height: 150px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.15s ease;
}

    .product-card:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.12);
        border-color: #0d6efd;
    }

/* IMAGE */
.product-image {
    height: 70px;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .product-image img {
        max-width: 75%;
        max-height: 75%;
        object-fit: contain;
    }

/* DETAILS */
.product-details {
    flex: 1;
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 11px;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    max-height: 26px;
    overflow: hidden;
}

.product-meta {
    font-size: 10px;
    color: #666;
}

.product-price {
    font-size: 12px;
    font-weight: 700;
    color: #198754;
}
